<h1> Здравствуйте, <%= @user.name %>! </h1>
<p>
  Для задания нового пароля перейдите, пожалуйста,
  <a href="<%= edit_password_reset_url(@user.reset_token, email: @user.email) %>">по ссылке.</a>

</p>
<p>Ссылка для смены пароля действительна два часа.</p>
<p>
  Если Вы не запрашивали восстановления пароля, просто проигнорируйте это сообщение.
</p>