<% provide(:title, 'Редактирование учетной записи') %>
<h1>Редактирование учетной записи</h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(@user) do |user_fields| %>
        <%= render 'shared/error_messages', object: @user, title: "Ошибки редактирования учетной записи: " %>
        <%= render 'user_fields', f:user_fields%>
        <%= user_fields.submit "Изменить", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
</div>
