// Place all the styles related to the Timetable controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.panel-heading {
  padding: 5px 8px;
  height: 100%;
}

.panel {
  border: solid 1px black;

  /*position: absolute;*/
}

.timetable {
  width: 1120px;
}

.table td.day {
  width: 160px;
  padding: 8px 2px;
  background-color: transparent;
}

select.day {
  display: inline;
  width: 125px;
  margin: 4px;
}

.timetable-element {
  border: solid 1px black;
  border-radius: 5px;
  position: absolute;
  overflow: hidden;
  width: 159px;
  margin-top: 0px;
  z-index: 101;

}

.timetable-grid {
  position: absolute;
  width: 1120px;
  margin-top: 136px;
  z-index: 100;

  tr{
    height: 27px;
  };

  td {
    padding: 0px;
  }

  td.selected {
    background-color: lightblue;
  }
  td.disabled {
    background-color: lightgrey;
  }
}

.timetable-day-body {
  position: relative;
}

.timetable-grid-time {

  margin-left: -50px;
  margin-top: -20px;
}

.timetable-grid-lasttime {
  margin-left: -50px;
  position: relative;
  height: 0px;
  top: 10px;
}

.btn-delete-event{
  position: absolute;
  top: 4px;
  right: 3px;
}

.timetable-grid-hour-tr {
  border-top: 2px solid grey;
}

.timetable-element-min {
  font-size: 8px;
  div.panel-heading {
    padding: 5px 4px;
  }
}

.addeventsbtn {
  margin-left: -5px;
  margin-top: -6px;
  position: absolute;
  display: none;
  opacity: 1;
  z-index: 105;
}

.visible {
  opacity: 1;
  transition: opacity 5s;
}

.eventsinterval {

  width: 80px;
  padding: 4px 8px;
  margin-left: 25px;
  margin-top: -26px;

  ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    li{
      span {
        margin-left: 2px;
      }
    }
  }
}